#logo{
    width: 100px;
}

#nav_principal{
    height: 100px;
}

img

a{
    border-color: transparent;
}

.iconos{
    width: 30px;
}

#iconos{
    display: flex;
    flex-direction: row;
    justify-content:center;
}



#contenido{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    font-size: 12px;
}

#concom{
    display: flex;
    flex-direction: row;
}

#divcom{
    width: 75%;
   
}


#divfac{
    width: 25%;
    border: black solid;
    border-radius: 3px;
}

#divmis{
    width: 75%;
}

#divrose{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#divmaria{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#divges{
    width: 80%;
}

.imagenespro{
    width: 250px;
    margin: 20px;
    border-radius: 10px;
}

.divordeni{
    display: flex;
    flex-direction: column;
}

#divedicion{
    margin: 25px;
    margin-bottom: -25px;
}

#notedit{
    display: flex;
    flex-direction: row;

}

.titleedit{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-danger{
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#espnewinput{
    margin-top: -25px;
    margin: 25px;
}

#divbuttonedit{
    display: flex;
    justify-content: center;
    margin-top: -25px;
    margin: 25px;
}

#divorden{
    display: flex;
    flex-direction: column;
}

#botonedit{
    margin: 25px;
}

#botonadd{
    margin: 25px;
}

.inputnew{
    margin-top: 7px;
    margin-bottom: 7px;
}